@charset "UTF-8";


body{
    background-color: #eb7676;
}
h1{
    background-color: cornflowerblue;
    color: #640016;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;

}
h2{
    background-color: lightseagreen;
    color: mistyrose;
}
p{
    text-align: justify;
}